@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,300&family=Alfa+Slab+One&family=Oswald:wght@200&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding-left: 0;
}
body{
 background: linear-gradient(rgb(232, 112, 13),white);

}
.Menu{
    background-image: url(background\ img.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.menu-primaire h1{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    text-shadow: 1px -1px black;
}
.menu-primaire h1 span{
    color: rgb(232, 112, 13);
    padding: 5px 5px;;
}

.menu-primaire{
    margin-left: 50px;
}
.menu-primaire ul{
    display: flex;
    padding-left: 380px;
   
}
.menu-primaire ul li{
    padding: 30px;
    list-style-type: none;
    margin-top: -60px;
  
}
.menu-primaire ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    background-color: rgb(232, 112, 13);
    padding: 5px 5px;
    border-radius: 3px;
    text-shadow: 1px -1px black;
  
  }
  .menu-primaire ul li a:hover{
    background-color: black;
  }
.menu-primaire a{
    margin-top: -35px;
    font-size: 2.4em;
    color: white;

}
.menu-slog{
   padding-left: 50px;
   margin: 90px;
   color: black;
}
.menu-slog h2{
    font-size: 3.5em;
    text-shadow: 1px -1px black;
    text-transform: capitalize;
}
.menu-slog h2 span{
    color: rgb(232, 112, 13);
}
.menu-slog p{
    color: white;
    font-size: 1.5em;
    text-transform: capitalize;
}



.search-bar {
    display: flex;
    align-items: center;
    border: 2px solid rgb(232, 112, 13);
    border-radius: 25px; 
    overflow: hidden;
    width: 300px; 
    background-color: #f3f3f3; 
    margin: 30px;
  }
  
  
  .search-bar input[type="search"] {
    border: none;
    padding: 10px 15px;
    outline: none;
    flex: 1;
    font-size: 16px;
    color: #333;
    background: transparent;
  }
  
  
  .search-bar button {
    background: rgb(232, 112, 13);; 
    border: none;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
  }
  
  
  .search-bar input[type="search"]:focus {
    background-color: #e0f7ff; 
  }
  
  
  .search-bar button:hover {
    background: rgb(227, 68, 10);
  }
  .réseaux-sociaux ul{
    list-style-type: none;
    display: flex;
    padding: 20px;
   
  }
  .réseaux-sociaux ul li{
    padding-left: 30px;
   
   }
  .réseaux-sociaux ul li a{
    background-color: white;
    color: rgb(227, 68, 10);
    font-size: 1.5em;
   border-radius: 5px;
   
    
}
.les-boutons{
  margin: 30px;
  text-shadow: 1px -1px black;
  
}
.les-boutons a{
  background-color: rgb(227, 68, 10);
  text-decoration: none;
  color: white;
  font-size: 1.8em;
  text-transform: capitalize;
  text-shadow: 1px -1px black;
  padding: 5px;
  border-radius: 5px;
  margin-right: 100px;
  box-shadow: 2px 2px 3px black;
}
.les-boutons a:hover{
  background-color: black;
}
.les-images1 img{
  width: 200px;
  height: 300px;
  padding-left: 900px;
  margin-top: -400px;
 
  
}
.les-images2 img{
  width: 200px;
  height: 300px;
  padding-left: 1000px;
  margin-top: -100px;
  border-bottom-right-radius: 100px;
  
  
 
}
.titre-de-accueil h1{
  margin-top: 80px;
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  color: rgb(8, 165, 37);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  padding: 25px;
  text-shadow: 1px -1px black;
  margin-left: 130px;
 
  
}

.titre-de-accueil h1 span{
  color: rgb(227, 68, 10);
  font-family: 'Poppins', sans-serif;
}
.titre-de-accueil h1 img{
  width: 80px;
  height: 80px;
 
}
.les-délices{
  display: flex;
  padding: 20px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 5px;
  
  
}
  .les-produits img{
    width: 300px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
   
  }
  .les-produits{
    padding-left: 30px;
    margin-left: 25px;
  }
  .les-produits p{
    text-align: center;
    font-size: 1.3em;
  }
  .les-produits h2{
    text-align: center;
    text-transform: uppercase;
  }
  .les-produits h3{
    text-align: center;
    color: rgb(227, 68, 10);
    font-size: 1.5em;
  }
  .box{
    display: flex;
   padding: 30px;
   margin-left: 30px;

  }
  .box-image1 img{
    width: 400px;
    height: 300px;
    border-top-left-radius: 150px;
 
    
    
   
  }
  .box-image2 img{
    width: 400px;
    height: 300px;
    padding: 80px;
    margin-left: -100px;
    border-bottom-right-radius: 200px;
   
 
    
}
.box-text p{
  text-align: center;
  font-size: 1.2em;
  color: white;
  text-transform: capitalize;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 50px;
  word-spacing: 5px;
 line-height: 27px;

}
.box-text a{
  color: white;
  background-color: rgb(227, 68, 10);
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 7px;
  text-transform: capitalize;
  padding: 5px;
}
.box-text a:hover{
  background-color: rgb(8, 165, 37);
  color: white;
}
.les-autres-produits{
  display: flex;
  padding: 15px;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 5px;
  
}
.les-autres img{
  width: 300px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  padding: 15px;
}
.les-autres img:hover{
  background-color: rgb(227, 68, 10);
}
.les-autres a{
  background-color: rgb(227, 68, 10);
  text-decoration: none;
  border-radius: 5px;
  text-transform: capitalize;
  color: white;
  padding: 2px;
  font-size: 1.5em;
 margin-left: 100px;
}
.les-autres a:hover{
  background-color: rgb(8, 165, 37);
}
.titre-témoignage h1{
  color: rgb(227, 68, 10);
  padding: 20px;
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: capitalize;
  text-align: center;
}
.slader{
  display: flex;
 padding-left: -5px;
 padding-right: 50px;
  background-color: white;
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  position: relative;
    max-width: 50%;
    overflow: hidden;

}
.slader:hover{
  transform: translateY(-8);
}
.slades{
  margin-right: 25px;
  margin-left: 20px;
  display: flex;
  animation: gliss 20s infinite;
}
.slade img{
  float: right;
  width: 420px;
  height: 500px;
  padding: 10px;
  margin-left: 28px;
  margin-right: 28px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}
.slade img:hover{
  background-color: rgb(227, 68, 10);
}
.slades p{
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  word-spacing: 3px;
  line-height: 25px;
  padding: 30px;
  text-align: center;
  
}
.slades p span{
  font-size: 2.5em;
  color: rgb(227, 68, 10);
}
.slade h2{
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
@keyframes gliss{
  0%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(0);
  }
  40%{
    transform: translateX(-500px);
  }
  60%{
    transform: translateX(-500px);
  }
  80%{
    transform: translateX(-1000px);
  }
  90%{
    transform: translateX(-1000px);
  }
  
  100%{
    transform: translateX(0);
  }
}
.footer{
  display: flex;
  padding: 30px;
  background-color: rgb(227, 68, 10);
  
}

.menu-footer{
  margin-left: 100px;
  padding-left: 120px;
  
}
.menu-footer h1{
  font-size: 3.5em;
  font-family: 'Poppins', sans-serif;
  margin-left: -100px;
  color: white;
  margin-top: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);


}
.menu-footer h1 span{
  color: rgb(8, 165, 37);
}
.menu-footer h1 img{
  width: 90px;
  height: 80px;
 
}

.menu-footer ul{
  text-decoration: none;
 
}
.menu-footer h2{
  color: black;
  font-size: 2em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);

}
.menu-footer ul li{
  color: white;
  font-size: 1.5em;
  list-style-type: none;
  text-transform: capitalize;
  padding: 5px;
}
.menu-footer ul li a{
  list-style-type: none;
  color: white;
  text-decoration: none;
}
.footer-réseaux-sociaux ul{
  display: flex;
}
.footer-réseaux-sociaux ul li{
  padding: 5px;
}

@media (max-width: 768%) {
  body {
    font-size: 16px;
  }
}

/* Téléphones */
@media (max-width: 480%) {
  .Menu {
    font-size: 14%;
  }
}







  
  
