.Menu{
    background-image: url(background\ img.JPG);
    background-repeat: no-repeat;
}
.menu-primaire h1{
    color: white;
    font-size: 1.5em;
  
}
.menu-primaire h1 span{
    color: rgb(232, 112, 13);
    
}