.Menu{
    background-image: url(background\ img.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.menu-primaire h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    text-shadow: 1px -1px black;
}
.menu-primaire h1 span{
    color: rgb(232, 112, 13);
    padding: 5px 5px;;
}

.menu-primaire{
    margin-left: 50px;
}
.menu-primaire ul{
    display: flex;
    padding-left: 380px;
   
}
.menu-primaire ul li{
    padding: 30px;
    list-style-type: none;
    margin-top: -60px;
  
}
.menu-primaire ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    background-color: rgb(232, 112, 13);
    padding: 5px 5px;
    border-radius: 3px;
    text-shadow: 1px -1px black;
  
   
}
.menu-primaire a{
    margin-top: -35px;
    font-size: 2.4em;
    color: white;

}
.menu-slog{
   padding-left: 50px;
   margin: 90px;
   color: black;
}
.menu-slog h2{
    font-size: 3.5em;
    text-shadow: 1px -1px black;
    text-transform: capitalize;
}
.menu-slog h2 span{
    color: rgb(232, 112, 13);
}
.menu-slog p{
    color: white;
    font-size: 1.5em;
    text-transform: capitalize;
}



.search-bar {
    display: flex;
    align-items: center;
    border: 2px solid rgb(232, 112, 13);
    border-radius: 25px; 
    overflow: hidden;
    width: 300px; 
    background-color: #f3f3f3; 
  }
  
  
  .search-bar input[type="search"] {
    border: none;
    padding: 10px 15px;
    outline: none;
    flex: 1;
    font-size: 16px;
    color: #333;
    background: transparent;
  }
  
  
  .search-bar button {
    background: rgb(232, 112, 13);; 
    border: none;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
  }
  
  
  .search-bar input[type="search"]:focus {
    background-color: #e0f7ff; 
  }
  
  
  .search-bar button:hover {
    background: rgb(227, 68, 10);
  }
  .réseaux-sociaux ul{
    list-style-type: none;
    display: flex;
    padding: 20px;
   
  }
  .réseaux-sociaux ul li{
    padding-left: 30px;
   }
  .réseaux-sociaux ul li a{
    background-color: rgb(227, 68, 10);
    color: white;
    font-size: 1.5em;
    padding: 3px;
   border-radius: 5px;
    
}
.les-boutons{
  margin: 30px;
  
 
}
.les-boutons a{
  background-color: rgb(227, 68, 10);
  text-decoration: none;
  color: white;
  font-size: 1.8em;
  text-transform: capitalize;
  text-shadow: 1px -1px black;
  padding: 5px;
  border-radius: 5px;
  margin-right: 100px;
}

  
